//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Created Time: Wed 09 14 23:27:03 2022

IO_LOC "lag_diff[5]" M14;
IO_PORT "lag_diff[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lag_diff[4]" M15;
IO_PORT "lag_diff[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lag_diff[3]" T14;
IO_PORT "lag_diff[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lag_diff[2]" P13;
IO_PORT "lag_diff[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lag_diff[1]" R13;
IO_PORT "lag_diff[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "lag_diff[0]" R12;
IO_PORT "lag_diff[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_CLK_MIC1" D16;
IO_PORT "PAD_CLK_MIC1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_CLK_MIC0" P7;
IO_PORT "PAD_CLK_MIC0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_WS1" L12;
IO_PORT "PAD_WS1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_WS0" D11;
IO_PORT "PAD_WS0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LR1" C9;
IO_PORT "PAD_LR1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "PAD_LR0" E10;
IO_PORT "PAD_LR0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "PAD_MIC1_DA" F15;
IO_PORT "PAD_MIC1_DA" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_MIC0_DA" L8;
IO_PORT "PAD_MIC0_DA" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_XC_EN" T2;
IO_PORT "PAD_XC_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_RST_N" T10;
IO_PORT "PAD_RST_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_CLK" H11;
IO_PORT "PAD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
