//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.08
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Created Time: Sat 10 22 16:12:09 2022

IO_LOC "PAD_LCD_B[4]" B14;
IO_PORT "PAD_LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_B[3]" A14;
IO_PORT "PAD_LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_B[2]" B13;
IO_PORT "PAD_LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_B[1]" C12;
IO_PORT "PAD_LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_B[0]" B12;
IO_PORT "PAD_LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_G[5]" D10;
IO_PORT "PAD_LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_G[4]" R7;
IO_PORT "PAD_LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_G[3]" P7;
IO_PORT "PAD_LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_G[2]" B11;
IO_PORT "PAD_LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_G[1]" A11;
IO_PORT "PAD_LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_G[0]" D11;
IO_PORT "PAD_LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_R[4]" N6;
IO_PORT "PAD_LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_R[3]" N7;
IO_PORT "PAD_LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_R[2]" N9;
IO_PORT "PAD_LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_R[1]" N8;
IO_PORT "PAD_LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_R[0]" L9;
IO_PORT "PAD_LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_DE" E15;
IO_PORT "PAD_LCD_DE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_VS" D14;
IO_PORT "PAD_LCD_VS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_HS" A15;
IO_PORT "PAD_LCD_HS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCD_DCLK" R9;
IO_PORT "PAD_LCD_DCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_CLK_MIC" T6;
IO_PORT "PAD_CLK_MIC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_WS" P6;
IO_PORT "PAD_WS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_MIC56_DA" R8;
IO_PORT "PAD_MIC56_DA" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "PAD_MIC34_DA" T8;
IO_PORT "PAD_MIC34_DA" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "PAD_MIC12_DA" P8;
IO_PORT "PAD_MIC12_DA" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "PAD_MIC0_DA" T7;
IO_PORT "PAD_MIC0_DA" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "PAD_XC_EN" T2;
IO_PORT "PAD_XC_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_RST_N" T10;
IO_PORT "PAD_RST_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_CLK" H11;
IO_PORT "PAD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_UART_TX" M11;
IO_PORT "PAD_UART_TX" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "PAD_CMOS_SCL" F14;
IO_LOC "PAD_CMOS_SDA" F16;
IO_LOC "PAD_CMOS_VSYN" G15;
IO_LOC "PAD_CMOS_HREF" G14;
IO_LOC "PAD_CMOS_PCLK" F13;
IO_LOC "PAD_CMOS_XCLK" G12;
IO_LOC "PAD_CMOS_RST" L13;
IO_LOC "PAD_CMOS_PWDN" C10;
IO_LOC "PAD_CMOS_DATA[0]" T12;
IO_LOC "PAD_CMOS_DATA[1]" T11;
IO_LOC "PAD_CMOS_DATA[2]" P11;
IO_LOC "PAD_CMOS_DATA[3]" R11;
IO_LOC "PAD_CMOS_DATA[4]" M15;
IO_LOC "PAD_CMOS_DATA[5]" M14;
IO_LOC "PAD_CMOS_DATA[6]" J16;
IO_LOC "PAD_CMOS_DATA[7]" J14;
IO_PORT "PAD_CMOS_SCL" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_SDA" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_VSYN" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_HREF" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_PCLK" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_XCLK" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_RST"  IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_PWDN" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[0]" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[1]" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[2]" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[3]" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[4]" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[5]" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[6]" IO_TYPE=LVCMOS33;
IO_PORT "PAD_CMOS_DATA[7]" IO_TYPE=LVCMOS33;
