//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Created Time: Mon 09 12 18:09:08 2022

IO_LOC "PAD_TXD" M11;
IO_PORT "PAD_TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCTL" E10;
IO_PORT "PAD_LCTL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_LCK_WS" D11;
IO_PORT "PAD_LCK_WS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_CLK_MIC" P7;
IO_PORT "PAD_CLK_MIC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "PAD_KEY2" T10;
IO_PORT "PAD_KEY2" IO_TYPE=LVCMOS15 PULL_MODE=UP;
IO_LOC "PAD_KEY1" T2;
IO_PORT "PAD_KEY1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_DATA" L8;
IO_PORT "PAD_DATA" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "PAD_RST_N" D7;
IO_PORT "PAD_RST_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "PAD_CLK" H11;
IO_PORT "PAD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
